table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #000000;
    text-align: left;
    padding: 28px;
}

/* Пример стилей для ячеек с брендом */
.row__brand td {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color:#4350af;
}

/* Пример стилей для ячеек с моделями */
.cell__model {
    color:#ffffff;
    text-align: center;
    background-color: #d63864;
}